//Colors:

$brown-main: #59310e;
$red-main: #bf2604;
$brick-red: #f26835;
$sand-yellow: #f2af5c;
$light-pinky: #ffdaa3;

$black-color: #1a1a1a;
$white: #ffffff;
//Fonts:

@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Quicksand:wght@300;400;600&display=swap");

//font-family: 'Oswald', sans-serif;

//font-family: 'Quicksand', sans-serif;
