@import "base.scss";

body {
    font-family: "Quicksand", sans-serif;
    margin: 0;
    padding: 0;
}
.wrapper {
    width: 17%;
    height: 100vh;
    font-size: 1rem;
    color: $black-color;
    background-color: $light-pinky;
    padding: 32px;
    .id-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: $white;
        border-radius: 15%;
        padding: 32px;
        .image-box {
            width: 100%;
            display: flex;
            justify-content: center;
            .id-image {
                width: 68px;
                border-radius: 50%;
                background-color: $black-color;
            }
        }
        .user-name-box {
            font-size: 1.25rem;
            font-weight: 600;
        }
        .user-name-box {
            margin-top: 16px;
        }
        .day-limit-box {
            width: 100%;
            font-size: 1rem;
            text-align: center;
            margin-bottom: 48px;
            margin-top: 16px;
            .day-limit-text {
                font-size: 0.9rem;
            }
            .day-limit-number {
                font-weight: 600;
            }
        }
        .box-section-title {
            width: 100%;
            margin-bottom: 16px;
        }
        .weight-section {
            display: flex;
            justify-content: space-between;
            font-size: 1rem;
            flex-wrap: wrap;
            .info-weight-part {
                width: 33%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                text-align: center;
                .info-weight-row {
                    width: 100%;
                }
                .info-weight-row-num {
                    font-weight: 600;
                }
                .info-weight-row-text {
                    font-size: 0.9rem;
                }
            }
        }
    }
    .menu-list-section {
        font-size: 1rem;
        margin-top: 48px;
        .all-list {
            list-style-type: none;
            .menu-item {
                cursor: pointer;
                margin-bottom: 32px;
                i {
                    margin-right: 16px;
                }
            }
        }
    }
}
